<div class="card h-100 shadow text-center">
    <img src="{{productObj.productImage}}" class="card-img-top" height="300px" alt="...">
    <div class="card-body">
      <h5 class="card-title" style="color: #052a4d;">{{productObj.productTitle}}</h5>
      <p class="card-text">{{productObj.description}}</p>
      <div class="btn-group btn-group-sm float-end mt-3" role="group" aria-label="Basic example">
        <button type="button" class="btn" *ngIf="count>0; else show" (click)="removeProduct(productObj.productTitle)"><i class="fas fa-minus text-white"></i></button>
        <ng-template #show><button type="button" class="btn"><i class="fas fa-minus text-white"></i></button></ng-template>
        <button type="button" class="btn mx-auto text-white text-bold" disabled>{{count}}</button>
        <button type="button" class="btn" (click)="sendProductDetailsToParent(productObj.productTitle)"><i class="fas fa-plus text-white"></i></button>
      </div>
    </div>
</div>