<!-- <div class="text-center text-white">
    <h3>{{postObj.userId}}</h3>
    <h3>{{postObj.id}}</h3>
    <h3>{{postObj.title}}</h3>
    <h3>{{postObj.body}}</h3>
</div> -->

<div class="container">
    <div class="row text-white mt-4" >
        <div class="col-8">
            <h3>{{userObj.id}}</h3>
            <h3>{{userObj.name}}</h3>
            <h3>{{userObj.username}}</h3>
            <h3>{{userObj.email}}</h3>
            <h3>{{userObj.address.city}}</h3>
            <h3>{{userObj.company}}</h3>
            <h3>{{userObj.phone}}</h3>
            <h3><a href={{userObj.website}}>{{userObj.website}}</a></h3>
        </div>
        <div class="col-4">
            <img src={{userObj.profile}} alt="" height="350px">
        </div>
    </div>
</div>








<div >
    
    
</div>