<!-- Assignment on displaying list of names -->
<!-- <div class="w-25  mx-auto mt-5">
  <label for="">Enter Username:</label>
  <input type="text" class="form-control mt-2" #ref>
  <button class="btn btn-info d-block mx-auto mt-3 " (click)="addName(ref.value)">Add</button>
  <hr>

  <button. class="btn btn-success d-block mx-auto" (click)="changeStatus()">{{status ? "Hide":"Show Names"}}</button>
  <h4 *ngIf="status" class="mt-2">
    <li *ngFor="let name of names" class="text-center">{{name}}</li>
  </h4>
</div> -->

<!-- <div class="w-75 mx-auto m-5">
  <h1 class="text-center text-secondary">New Angular Application - Component nesting</h1>
</div>
<div class="container">
  <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3">
    <app-product></app-product>
    <app-product></app-product>
    <app-product></app-product>
  </div>

  <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3">
    <app-product></app-product>
    <app-product></app-product>
    <app-product></app-product>
  </div>
</div> -->


<h1 class="display-3 text-center text-info">Products Management System</h1>

<div class="container">
  <app-product></app-product>

  <!-- <div style="position: absolute; bottom: 0px; width: 100%;">
    <app-footer></app-footer>
  </div> -->
</div>