<!-- <div class="card mx-auto mb-3">
    <div class="card-header">
        <p>Header</p>
    </div>
    <div class="card-body">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae, sint similique. Qui, culpa sint tempora sapiente sequi dolorum rerum repellat officia quibusdam odit delectus blanditiis eaque vero iste veritatis sunt?</p>
    </div>
    <div class="card-footer">
        <button class="btn btn-info btn-end">Add</button>
    </div>
</div> -->

<div class="text-center">
    <h5>No. of products selected: {{productCount}}</h5>
    <span *ngFor="let title of productsSentByChild">{{title }},</span>
</div>

<div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-4 mt-5 mb-5">
    <div class="col" *ngFor="let prObj of products">
        <app-product-details [productObj]=prObj  (myEvent)="getProductDetailsFromChild($event)"></app-product-details>
    </div>
</div>
